<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="login-title">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="welcome-container">
    <div class="welcome-text">Bienvenido a IONRNB</div>
    <div class="login-info">Inicia sesión para empezar</div>
  </div>

  <div class="card-container">
    <form [formGroup]="loginForm">
      <ion-card class="login-card">
        <ion-card-content>
          <ion-item lines="none">
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input type="text" class="input-custom" formControlName="email"></ion-input>
          </ion-item>
    
          <ion-item lines="none">
            <ion-label position="floating" color="primary">Contraseña</ion-label>
            <ion-input type="password" class="input-custom" formControlName="password"></ion-input>
          </ion-item>
    
          <ion-button expand="block" color="primary" class="ion-margin-top" [disabled]="loginForm.invalid">Iniciar Sesión</ion-button>
    
          <p class="crear-cuenta">¿No tienes una cuenta? <a href="#" class="link-custom" routerLink="/signup">Crear cuenta</a></p>
        </ion-card-content>
      </ion-card>
    </form>
    
  </div>
</ion-content>






